
<h1>Admin Page</h1>

<div>
  <ul>
    <li><%= link_to "研究室", laboratories_path %></li>
    <li><%= link_to "イベント", events_path %></li>
    <li><%= link_to "学校一覧", schools_path %></li>
    <li><%= link_to "生徒一覧", students_path %></li>
    <li><%= link_to "新規学校作成", "#" %></li>
  </ul>
</div>
