<% provide(:title, 'All events') %>
<h1>All events</h1>

<ul class="events">
  <%= will_paginate @events %>
  <% @events.each do |event| %>
    <li>
      <%= link_to gravatar_for(event.school, size: 50), event.school %>
      <span class="school"><%= link_to event.school.name, event.school %></span>
      <span class="content">
        <%= event.content %>
        <%= image_tag event.picture.url if event.picture? %>
      </span>
      <span class="timestamp">
        Posted <%= time_ago_in_words(event.created_at) %> ago.
        <% if current_school?(event.school) %>
          <%= link_to "delete", event, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
      </span>
    </li>
  <% end %>
  <%= will_paginate @events %>
</ul>
