<% provide(:title, 'All events') %>
<h1 class="h1-design">イベント一覧</h1>

<div class="index">
  <ul class="events">
    <div class="will-paginate">
      <%= will_paginate @events %>
    </div>
    <div class="container">
        <div class="row">
          <% @events.each do |event| %>
          <div class="col-lg-6 event">
              <div class="event-img">
                <%= image_tag event.picture.url if event.picture? %>
              </div>
              <div class="name">
                <%= link_to event.name, event %> (<%= link_to gravatar_for(event.school, size: 20), event.school %><%= link_to event.school.name, event.school %>)
              </div>
              <div class="content">
                <%= event.content %>
              </div>
              <div class="posted-time">
                Posted <%= time_ago_in_words(event.created_at) %> ago.
                <% if current_school?(event.school) %>
                <%= link_to "delete", event, method: :delete, data: { confirm: "You sure?" } %>
                <% end %>
              </div>
          </div>
          <% end %>
        </div>
    </div>
    <div class="will-paginate">
      <%= will_paginate @events %>
    </div>
  </ul>
</div>
