<% provide(:title, 'Event') %>
<h1 class="h1-design">イベント詳細</h1>

<div class="event-labo-show-wrapper">
  <div class="name">
    <%= @event.name %> (<%= link_to gravatar_for(@event.school, size: 20), @event.school %><%= link_to @event.school.name, @event.school %>)
  </div>
  <div class="img">
    <%= image_tag @event.picture.url if @event.picture? %>
  </div>
  <div class="content">
    <h3>内容</h3>
    <%= @event.content %>
  </div>
  <div class="event-detailed">

  </div>
  <div class="button-wrapper">
    <%= link_to "チャットする", "#", class: "btn-border-bottom" %>
    <%= link_to "関連の系", "#", class: "btn-border-bottom" %>
    <%= link_to "関連研究室", "#", class: "btn-border-bottom" %>
    <%= link_to "イベント一覧へ", events_path, class: "btn-border-bottom" %>
  </div>
</div>
