<% provide(:title, "Log in") %>
<h1 class="h1-login">高校生としてログイン</h1>

<div class="row student-login">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: student_login_path) do |f| %>

      <%= f.label :email, "メールアドレス", class: "label" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード", class: "label" %>
      <%= link_to "(パスワードを忘れた場合はこちら)", new_student_password_reset_path, class: "forgot-password" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "label checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span class="main-blue">Remember me on this computer</span>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <%= link_to "高校生として登録はこちら!", student_signup_path, class: "main-blue" %>
  </div>
</div>
