<div class="col-lg-4 school">
    <%= gravatar_for school, size: 50 %>
    <%= link_to school.name, school %>
    <% if admin_logged_in? %>
    | <%= link_to "physical delete", school, method: :delete, data: { confirm: "You sure?" } %> | <%= link_to "logical delete", school_path(school, params: { school: { deleted: 1} }), :method => :patch %> | <%= link_to "logical delete cancel", school_path(school, params: { school: { deleted: 0} }), :method => :patch %>
    <% end %>
</div>
