<% provide(:title, @school.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <h1>
        <%= gravatar_for @school %>
        <%= @school.name %>
      </h1>
    </section>
    <% if school_logged_in? %>
      <h3>New event</h3>
      <section class="event_form">
        <%= render 'shared/event_form' %>
      </section>
      <h3>New laboratory</h3>
      <section class="laboratory_form">
        <%= render 'shared/laboratory_form' %>
      </section>
    <% end %>
  </aside>
  <div class="col-md-8">
    <% if @school.events.any? %>
      <h3>Events (<%= @school.events.count %>)</h3>
      <ol class="events">
        <%= render @events %>
      </ol>
      <%= will_paginate @events %>
    <% end %>
  </div>
</div>
