<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "LABO REACH", root_path, class: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップ", root_path %></li>
        <li><%= link_to "研究室", laboratories_path %></li>
        <li><%= link_to "イベント", events_path %></li>
        <% if student_logged_in? %>
          <li><%= link_to "学校一覧", schools_path %></li>
          <li><%= link_to "メッセージ", rooms_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              アカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "プロフィール", current_student %></li>
              <li><%= link_to "プロフィール編集", edit_student_path(current_student) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", student_logout_path, :method => :delete %>
              </li>
            </ul>
          </li>
        <% elsif school_logged_in? %>
          <li><%= link_to "高校生一覧", students_path %></li>
          <li><%= link_to "メッセージ", rooms_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              アカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "プロフィール", current_school %></li>
              <li><%= link_to "プロフィール編集", edit_school_path(current_school) %></li>
              <li><%= link_to "イベント登録", new_event_path %></li>
              <li><%= link_to "研究室登録", new_laboratory_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", school_logout_path, :method => :delete %>
              </li>
            </ul>
          </li>
        <% elsif admin_logged_in? %>
          <li><%= link_to "高校生一覧", students_path %></li>
          <li><%= link_to "学校一覧", schools_path %></li>
          <li><%= link_to "管理者ページ", current_admin %></li>
          <li><%= link_to "ログアウト", admin_logout_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "高校生としてログイン", student_login_path %></li>
          <li><%= link_to "学校関係者としてログイン", school_login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
